body {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.header {
    display: flex;
    background-color: #1F2937;
    

}

ul {
    display: flex;
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.h-top {
    display: flex;
    margin: 0;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
}

/*.h-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}  commenting out for now. trying to get the body of the header to move below the header top*/
